hostname {{ inventory_hostname }}
!
no ip domain-lookup
!
lldp run
!
interface Loopback0
 ip address 192.168.0.{{ id }} 255.255.255.255
!
interface GigabitEthernet0/0
 no lldp transmit
 no lldp receive
!
interface GigabitEthernet0/1
 no shutdown
 ip address 10.0.0.{{ id }} 255.255.255.0
!
no banner exec
no banner login
no banner incoming
