# Ignore Vagrant directories
.vagrant
.DS_Store

# Ignore netsim-tools files
host_vars/
group_vars/
config/
hosts.yml
Vagrantfile
ansible.cfg

# Ignore other Git repositories
cicd/
# Ignore text files
!requirements.txt
*.txt

# Ignore everything that should be ignored ;)
*.ignore.*

# Ignore Ansible retry and log files
*.retry
ansible.log

# Ignore Python cache
__pycache__/

# Ignore Visual Studio Code files
.vscode

# Don't publish SFTP configuration
sftp-config.json
