route-map customer-locpref permit 10
 set local-preference 200
!
route-map peer-locpref permit 10
 set local-preference 150
!
router bgp {{ bgp.as }}
{% for af in ['ipv4','ipv6'] %}
{%   for n in bgp.neighbors if n[af] is defined %}
{%     if loop.first %}
 address-family {{ af }}
{%     endif %}
{%     if n.role|default('') == 'customer' %}
  neighbor {{ n[af] }} route-map customer-locpref in
{%     endif %}
{%     if n.role|default('') == 'peer' %}
  neighbor {{ n[af] }} route-map peer-locpref in
{%     endif %}
{%   endfor %}
{% endfor %}
