router bgp {{ bgp.as }}
 address-family ipv4 unicast
{% if bgp.rr is defined %}
  bgp additional-paths select all
  bgp additional-paths send
{% else %}
  maximum-paths 16
  maximum-paths ibgp 16
{% endif %}
{% for n in bgp.neighbors if n.type == 'ibgp' %}
{%   if bgp.rr is defined %}
  neighbor {{ n.ipv4 }} advertise additional-paths all
{%   else %}
  neighbor {{ n.ipv4 }} additional-paths receive
{%   endif %}
{% endfor %}
