feature bgp
router bgp 65000
  address-family ipv4 unicast
    network {{ loopback }} mask 255.255.255.255
{% if edge is defined %}
    network 172.16.0.0 mask 255.255.0.0
{% endif %}
{% for n in groups['all'] if n != inventory_hostname %}
{%   set neighbor = hostvars[n] %}
  neighbor {{ neighbor.loopback }} remote-as 65000
    update-source Loopback0
    address-family ipv4 unicast
{% endfor %}
{% if edge is defined %}
!
ip route 172.16.0.0 255.255.0.0 null 0
{% endif %}
