router bgp 65000
 network {{ loopback }} mask 255.255.255.255
 {% for n in groups['all'] if n != inventory_hostname %}
  {% set neighbor = hostvars[n] %}
 neighbor {{ neighbor.loopback }} remote-as 65000
 neighbor {{ neighbor.loopback }} update-source Loopback0
 {% endfor %}
{% if edge is defined %}
 network 172.16.0.0 mask 255.255.0.0
!
ip route 172.16.0.0 255.255.0.0 null 0
{% endif %}
