{% if 'ospf' in igp %}
feature ospf
router ospf 1
  auto-cost reference-bandwidth 100 Gbps
!
{% else %}
no router ospf 1
{% endif %}
!
{% if 'isis' in igp %}
feature isis
router isis fabric
  is-type level-2
  net 49.0000.0000.{{ '%04d'|format(id) }}.00
  address-family ipv4 unicast
  reference-bandwidth 5 Gbps
!
{% else %}
no router isis
{% endif %}
!
interface loopback0
{%   if 'ospf' in igp %}
  ip router ospf 1 area 0.0.0.0
{% endif %}
{% if 'isis' in igp %}
  ip router isis fabric
{% endif %}
!
{% for l in links %}
interface {{ l.ifname }}
{%   if 'ospf' in igp %}
  ip router ospf 1 area 0.0.0.0
{% endif %}
{% if 'isis' in igp %}
  ip router isis fabric
{% endif %}
{% endfor %}
