{% if 'ospf' in igp %}
router ospf 1
 network 0.0.0.0 255.255.255.255 area 0
 auto-cost reference-bandwidth 100000
{% else %}
no router ospf 1
{% endif %}
!
{% if 'eigrp' in igp %}
router eigrp 1
 network 10.0.0.0
{% else %}
no router eigrp 1
{% endif %}
!
{% if 'isis' in igp %}
router isis
 is-type level-2-only
 metric-style wide
 net 49.0000.0000.{{ '%04d'|format(id) }}.00
!
interface loopback 0
 ip router isis
{% for l in links %}
interface {{ l.ifname }}
 ip router isis
{% if l.bandwidth is defined %}
 isis metric {{ (2000000 / l.bandwidth)|int }}
{% else %}
 no isis metric
{% endif %}
{% endfor %}
{% else %}
no router isis
{% endif %}