logging buffered
service timestamp debug uptime
!
do debug dhcp detail
!
{% for intf in interfaces if intf.dhcp.client is defined and intf.dhcp.client %}
interface {{ intf.ifname }}
 no ip address
 ip address dhcp
{% endfor %}