mpls label range l2evpn {{ 405000 + 10000 * id }} 1000
mpls label range l2evpn ethernet-segment 415000 1000
router bgp {{ bgp.as }}
!
{% for vname,vdata in vlans.items() %}
   vlan {{ vdata.id }}
      rd {{ loopback.ipv4|ipaddr('address') }}:{{ vdata.id }}
      route-target both {{ bgp.as }}:{{ vdata.id }}
      redistribute learned
{% endfor %}
!
   address-family evpn
      neighbor default encapsulation mpls next-hop-self source-interface Loopback0
