router ospf 1
!
interface loopback0
 ip ospf area 0.0.0.0
!
{% for l in links %}
interface {{ l.ifname }}
 ip ospf area 0.0.0.0
{% endfor %}
!
router isis fabric
 is-type level-2
 net 49.0000.0000.{{ '%04d'|format(id) }}.00
 address-family ipv4
!
interface loopback0
 isis enable fabric
!
{% for l in links %}
interface {{ l.ifname }}
 isis enable fabric
{% endfor %}
