{% set anycast_ip="10.0.0.45" %}
updates:
- path: configure/policy-options/prefix-list[name=anycast_ip]
  val:
   prefix:
    ip-prefix: "{{ anycast_ip }}/32"
    type: exact

- path: configure/policy-options/policy-statement[name=accept_all]
  val:
   entry:
    entry-id: 10
    from:
     prefix-list: ["anycast_ip"]
    action:
     action-type: accept # Don't rewrite next hop on the anycast IP itself
   default-action:
    action-type: accept
    next-hop: {{ anycast_ip }}

- path: configure/router[router-name=Base]/interface[interface-name=anycast_loopback]
  val:
   admin-state: enable
   description: "Anycast nexthop loopback"
   loopback: [null]
   ipv4:
    primary:
     address: "{{ anycast_ip }}"
     prefix-length: 32
