{# assumes addressing pools are extended with MACsec parameters #}
updates:
{% for l in links if l.type=='lan' and 'macsec' in pools['lan'] %}
{% set macsec = pools['lan'].macsec %}
{% set ca_name = "to-%s" | format( l.epipe|default('wherever') ) %}
- path: configure/macsec/connectivity-association[ca-name={{ ca_name }}]
  val:
   admin-state: enable
   macsec-encrypt: True
   static-cak:
    pre-shared-key:
    - psk-id: 1
      encryption-type: aes-128-cmac
      cak: {{ macsec.cak }}
      cak-name: {{ macsec.cak_name }}

- path: configure/port[port-id={{l.ifname}}]/ethernet/dot1x/macsec/sub-port[sub-port-id=1]
  val:
   admin-state: disable # Disable for now, still missing some way to establish multi-hop MACsec
   ca-name: "{{ ca_name }}"
   max-peers: 1

{% endfor %}
