{% set links_with_te_path = interfaces|selectattr('te_path_ips','defined')|list %}
updates:
{% for l in links_with_te_path %}
{% set lsp_name = "lsp_" + l.traffic_engineering_path|join('-') + "-TE" %}
- path: configure/router[router-name=Base]/mpls
  val:
   admin-state: enable
   path:
   - path-name: "{{ l.traffic_engineering_path|join('-') }}-TE-strict"
     admin-state: enable
     hop:
{%   for ip in l.te_path_ips %}
     - hop-index: {{ loop.index }}
       ip-address: "{{ ip|ipaddr('address') }}"
       type: strict
{%   endfor %}

   lsp:
   - lsp-name: "{{ lsp_name }}"
     admin-state: enable
     type: p2p-sr-te
     to: "{{ l.te_path_ips[-1]|ipaddr('address') }}"
     primary:
     - path-name: "{{ l.traffic_engineering_path|join('-') }}-TE-strict"

{# Activate the LSP path, disabling the SR-ISIS shortest IGP path #}
- path: configure/service/sdp[sdp-id={{l.ifindex}}]
  val:
   sr-isis: False
   lsp:
   - lsp-name: "{{ lsp_name }}"

{% endfor %}
{% if links_with_te_path|length > 0 %}
# RSVP must be present along with mpls, even though it is not used here
- path: configure/router[router-name=Base]/rsvp
  val: {}

# Remove system interface from MPLS
delete:
- configure/router[router-name=Base]/mpls/interface[interface-name=system]
{% endif %}
